# -*- mode: conf -*-

[Unit]
Description=The receiver of data from XMiDT Caduceus.
Documentation=https://github.com/xmidt-org/heimdall
After=network.target

[Service]
EnvironmentFile=-/etc/default/heimdall
User=heimdall
ExecStart=/usr/bin/heimdall \
          $HEIMDALL_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
